.Mains {
  display: grid;
  grid-template-columns: 19% 62% 19%;
  height: 680px;
}

#Mains-left {
  border-right: solid 1px #aabbaa;
}

#Mains-right {
  border-left: solid 1px #aabbaa;
}

.Write {
  padding: 20px;
  padding-left: 20px;
}

.Write #Title {
  margin-top: 20px;
  margin-left: 50px;
}

#title_txt {
  width: 87%;
  padding-bottom: 10px;
  border: none;
  font-size: 22px;
  border-bottom: solid 1px #aabbaa;
  font-weight: bold;
}

#title_txt:focus {
  outline: none;
}

#content_txt {
  width: 87%;
  resize: none;
  border: none;
  height: 500px;
}

#content_txt:focus {
  outline: none;
}

#post_submit {
  text-align: center;
  margin-top: 30px;
}

#post_submit button {
  width: 60px;
  padding: 5px;
  border-radius: 5px;
  border: solid 1px #ababab;
  cursor: pointer;
  background-color: white;
  font-weight: bold;
}

#post_submit button:hover {
  background-color: tan;
  color: white;
}

.List {
  padding: 30px;
  margin-left: 20px;
  margin-right: 20px;
  min-height: 500px;
}

.list_tit {
  border-bottom: solid 1px #ababab;
  color: #ababab;
}

.list_grid {
  display: grid;
  grid-template-columns: 70% 15% 15%;
}

.list_data {
  line-height: 33px;
  
}
.list_link {
  text-decoration: none;
  color: black;
}

.list_link:hover {
  color: #c98989;
  font-weight: bold;
}

.view {

  text-align: center;
}

.acenter {
  text-align: center;
}

.paging_div {
  margin-top: 10px;
  border-top: solid 1px #ababab;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  text-align: center;
}

.paging_div div {
  padding: 15px;
  text-align: center;
  
}

.page_num {
  margin-right: 20px;
  list-style: none;
  display: inline-block;
  cursor: pointer;
}

.search_input {
  padding: 2px;
  margin-right: 5px;
  margin-top: 15px;
  width: 65%;
  text-align: center;
}

.serch_submit {
  position: absolute;
  margin-top: 14px;
  cursor: pointer;
}

.not_data {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #ababab;
}

.date_div {
  text-align: right;
  font-size: 14px;
  color: #ababab;
  margin-bottom: 10px;
  padding-right: 10px;
}

.top_title #title_txt {
  border: none;
  padding-bottom: 0px;
}

.top_title {
  border-bottom: solid 1px #ababab;
}

.Category {
  padding-left: 5px;
  padding-right: 20px;
}

.Category ul {
  line-height: 30px;
}

.Category ul li {
  list-style: none;
}

.Category ul li u {
  
  text-decoration: none;
  cursor: pointer;
}

.Category ul li a {
  list-style: none;
  color: black;
  text-decoration: none;
}

.Category ul li .pre_cat {
  font-weight: bold;
  color: tan;
}

.Edit {
  position: absolute;
  margin: 5px 0px 0px 15px;
  padding: 1px 7px 1px 7px;
  border-radius: 4px;
  color: #ababab;
  background-color: #fff;
  border-color: #ababab;
  cursor: pointer;
}

.remove_icon {
  position: absolute;
  width: 15px;
  margin-top: 14px;
  cursor:pointer;
}

.edit_input {
  width: 70%;
  margin-left: 25px;
}

.modify_icon {
  position: absolute;
  width: 17px;
  margin-top: 12px;
  margin-left: 5px;
  cursor: pointer;
}

.CKEditor {
  margin-top : 20px;
  margin-left: 50px;
  width: 86.3%;
}

.btn_list {
  list-style: none;
  width: 80%;
}

.btn_list li {
  float: left;
  margin-right: 20px;
  font-weight: bold;
  font-size: 14px;
}

.forget_id {
  margin-left: 15px;
}

.search_user_info_div {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 50% 50%;
  border-top: solid 1px #ababab;
}

.search_user_info_div div {
  text-align: center;
  margin-top: 15px;
}

.search_user_info_div div b {
  cursor: pointer;
  margin-top: -5px;
  font-size: 14px;
  color: #a72ce0;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
}

.back_and_close {
  border-bottom: solid 1px #ababab;
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 8px;
}

.back_and_close #back_icon { 
  text-align: left; 
}

.back_and_close #close_icon { 
  text-align: right; 
}

.back_and_close div img { 
  width: 15px; cursor: pointer; 
}

.Search_id_div div {
  text-align: left;
  margin-left: 110px;
  font-size: 16px;
  margin-top: 63px;
}

.Search_id_div div h5 {
  height: 5px;
  margin-left: -15px;
}

.Search_id_div div input {
  padding: 3px;
}

input[name=search_id_submit] {
  border: solid 1px #ababab;
  width: 65px;
  border-radius: 4px;
  margin-left: 60px;
  margin-top: 45px;
  cursor: pointer;
  padding: 5px;
}


.Search_pw_div div {
  text-align: left;
  margin-left: 110px;
  font-size: 16px;
  margin-top: 45px;
}

.Search_pw_div div h5 {
  height: 5px;
  margin-left: -15px;
}

.Search_pw_div div input {
  padding: 3px;
}

input[name=search_pw_submit] {
  border: solid 1px #ababab;
  width: 65px;
  border-radius: 4px;
  margin-left: 60px;
  cursor: pointer;
  padding: 5px;
}

.Search_id_result {
  margin-top: 50px;
}

.search_result_div p{
  margin-top: 70px;
}

input[name=pw_secret] {
  padding: 3px;
  width: 50%;
  margin-left:-20px;
  margin-right: 40px;
  margin-top: 30px;
}

input[name=pw_secret_submit] {
  position: absolute;
  margin: 32px 0px 0px -30px;
  cursor: pointer;
}

.change_password_div div {
  margin-top: 30px;
}

.change_password_div div span {
  line-height: 0px;
  font-size: 15px;
}

.change_password_div div span p {
  color: #c98989;
  font-size: 14px;
}

.change_password_div div div {
  line-height: 0px;
  margin-top: 40px;
  
}
.change_password_div div div input {
  border-style: hidden;
  border-bottom: solid 1px #ababab;
}
.change_password_div div div input:focus {
  outline: none;
}

.change_password_div div h5 {
  text-align: left;
  margin-left: 95px;
  
}

.change_password_div div div:last-of-type {
  margin-top: 10px;
}

input[name=change_password_submit] {
  margin-top: 30px;
  border: solid 1px #ababab;
  border-radius: 3px;
  cursor: pointer;
}

.other_div {
  margin-top: 390px;
  border-top: solid 1px #ababab;
  display: grid;
  grid-template-columns: 37% 26% 37%;
}

.Like {
  text-align: center;
  margin: 50px 40% 0px 40%;
}

.Like img {  
  width: 25px;
  cursor: pointer;
}

.Like h5 {
  margin-top: 10px;
  
}

.view_pre_next_div {
  margin-top: 50px;
}

.other_div .view_next {
  margin-left: 50%;
  text-align: center;
}

.other_div .view_pre {
  margin-right: 50%;
  text-align: center;
}

.view_pre_next_div img { 
  width: 25px; 
  cursor: pointer; 
}

.select_category_div {
  text-align: center;
  margin-top: 50px;
  line-height: 0px;
}

.select_category_div select {
  width: 50%;
  padding: 3px;
  margin-top: -5px;
}

.ck-editor__editable {
  min-height: 450px;
}

.write_option_div {
  text-align: right;
  margin-right: 2%;
}

.write_option_div input {
  padding: 3px 7px 3px 7px;
  border-radius: 5px;
  border : solid 1px #ababab;
  cursor: pointer;
  background-color: white;
}

#del {
  margin-left: 5px;
}

#view_list_button {
  position: absolute;
  width: 40px;
  margin: -40px 0px 0px 54%;
  padding: 3px 7px 3px 7px;
  border-radius: 5px;
  border : solid 1px #ababab;
  cursor: pointer;
  background-color: white;
}

