
.header_grid {
  display: grid;
  grid-template-columns: 33.3333333% 33.3333333% auto;
  border-bottom: solid 1px #ababab;
}

.acenter { 
  text-align: center; 
  
}

.post {
  text-decoration: none;
  color: black;
}

.post:hover {
  color: darkgoldenrod;
  font-weight: bolder;
}

.btn_cursor {
  cursor: pointer;
}

.link_tit {
  color: black;
  text-decoration: none;
}

.login_tit {
  border-bottom: solid 1px #ababab;
  padding-bottom: 20px
}

#login_close {
  width: 15px;
  position: absolute;
  margin: -73px 0px 0px 177px;
  cursor: pointer;
}

.modal_tools {
  margin-top: -100px
}

.login_input_div p {
  font-weight: bold;
  margin-bottom: 8px;
  text-align: left;
  margin-left: 45px;
}

.login_input_div input {
  border: none;
  border-bottom: solid 1px #ababab;
  outline: none;
  width: 70%;
  padding: 4px;
  margin-top: -10px;
  margin-bottom: 5px;
  
}

#password {
  margin-top: 30px;
}

#password_check {
  margin-top: 30px;
}

#email {
  margin-top: 30px;
}


.login_div {
  text-align: center;
  /* padding-left: 20px; */
}

#login_button {
  position: relative;
  text-align: center;
  font-weight: lighter;
  font-size: 25px;
  font-family: 'Sansita Swashed';
  cursor: pointer;
  color: rgb(173, 149, 115);
}

#signup_button {
  position: relative;
  margin-bottom: 10px;
  text-align: center;
  font-weight: lighter;
  font-size: 25px;
  font-family: 'Sansita Swashed';
  cursor: pointer;
  color: rgb(173, 149, 115);
}

.submit_div {
  margin-top: 7%;
  
}

.submit_div div {
  text-align: center;
}

.submit_div div input {
  cursor: pointer;
}

