
.header_grid {
  display: grid;
  grid-template-columns: 33% 33% auto;
  border-bottom: solid 1px #ababab;
}

.acenter { 
  text-align: center; 
}

.btn_cursor {
  cursor: pointer;
}

.link_tit {
  color: black;
  text-decoration: none;
}

.login_tit {
  border-bottom: solid 1px #ababab;
  padding-bottom: 20px
}

.modal_tools {
  margin-top: -100px
}

.login_input_div p {
  font-weight: bold;
  margin-bottom: 8px;
  text-align: left;
  margin-left: 45px;
}

.login_input_div input {
  border: none;
  border-bottom: solid 1px #ababab;
  outline: none;
  width: 70%;
  padding: 4px;
  margin-top: -10px;
  
}

#password {
  margin-top: 30px;
}

#password_check {
  margin-top: 30px;
}

#email {
  margin-top: 30px;
}


.login_div {
  text-align: center;
  /* padding-left: 20px; */
}

.submit_div {
  display: grid;
  grid-template-columns: 50% auto;
  margin-top: 12%;
}

.submit_div div {
  text-align: center;
}

.submit_div div input {
  cursor: pointer;
}

